h1 {
  display: inline-flex;
  font-size: 45px;
  font-family: "Courier New", Courier, monospace;
  color: coral;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: underline dotted;
}

h2 {
  display: flex;
  align-content: center;
  
}
nav {
  height: 50px;
  background-color: #3e791f;
  overflow: hidden;
}

nav button {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

nav button:hover {
  background-color: #ddd;
  color: black;
}

#content {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  float: left;
  width: 70%;
}

#like,
#dislike {
  display: block;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#like {
  background-color: #4caf50;
  color: white;
}

#dislike {
  background-color: #f44336;
  color: white;
}

/* nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav ul li {
  margin: 0 10px;
}

button {
  background-color: #4caf6d;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

button:hover {
  background-color: rgb(50, 52, 148);
  color: black;
  border: 2px solid #080808;
}

.box {
  width: 500px;
  height: 500px;
  background-color: #abaaaf;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
